{% load static %}
<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="{% static 'pollingSite/css/skeleton.css' %}">
    <link rel="stylesheet" href="{% static 'pollingSite/css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'pollingSite/css/WAWIA.css' %}">
    <link type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.6/themes/redmond/jquery-ui.css" rel="Stylesheet" />
    <script language="javascript" type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script> 
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.6/jquery-ui.min.js"></script> 
    {% block css %}{% endblock css %}
    
    <meta charset="utf-8" />
    <title></title>
</head>
{% block body %}
<body>
    <div class="container">

        <!-- columns should be the immediate child of a .row -->
        {% block navbar %}{% include 'pollingSite/navbar.html' %}{% endblock navbar %}
        <div class="row">&nbsp;</div>
       {% block content %}{% endblock content %}
    </div>
    {% block JavaScrpt %}{% endblock JavaScrpt %}
</body>
{% endblock body %}
</html>