
{% extends 'pollingSite/base.html' %}
{% block content %}
    <label style="text-align:center"><font size="6"><b>Change Password</b></font></label>
    {% include 'pollingSite/homebar.html' %}
    <div class="four columns">
        Password must contain:
        <li>An uppercase letter</li>
        <li>A lowercase letter</li>
        <li>A number</li>
        <li>A symbol: ! @ $ % _</li>
    </div>
    <div class="twelve columns">
        <form method="post"style="border-color:white">
        {% csrf_token %}
        {{form.non_form_errors}}
        {{form.old_password.errors}}
        <label><b>Current Password </b></label>
        {{form.old_password}}
        {{form.new_password1.errors}}
        <label><b>New Password</b></label>
        {{form.new_password1}}
        {{form.new_password2.errors}}
        <label><b>Confirm New Password</b></label>
        {{form.new_password2}}
    </div>
    <div class="four columns"><label><b>&nbsp;</b></label></div>
    <div class="three columns"><button type="submit"style="background-color: #990000">Change Password</button></div>
    <div class="five columns"><label><b>&nbsp;</b></label></div>
</form>
{% endblock content %}