<div class="row">
    {% if 'index/' in request.path or 'addclass/' in request.path or 'change-password/' in request.path  or 'editclass/' in request.path %}
        <div class="three columns"><a href="{% url 'pollingSite:index' %}"><button type="submit" style="background-color: #990000"><b>Home</b></button></a></div>
    {% else %}
        <div class="three columns"><a href="{% url 'pollingSite:index' %}"><button type="submit"><b>Home</b></button></a></div>
    {% endif %}
    {% if 'poll/' in request.path %}
        <div class="three columns"><a href="{% url 'pollingSite:pollLanding' %}"><button type="submit" style="background-color: #990000">Poll</button></a></div>
    {% else %}
        <div class="three columns"><a href="{% url 'pollingSite:pollLanding' %}"><button type="submit">Poll</button></a></div>
    {% endif %}
    {% if 'report/' in request.path %}
    <div class="three columns"><a href="{% url 'pollingSite:report' %}"><button type="submit" style="background-color: #990000"><b>Report</b></button></a></div>
    {% else %}
    <div class="three columns"><a href="{% url 'pollingSite:report' %}"><button type="submit"><b>Report</b></button></a></div>
    {% endif %}
    <div class="three columns"><a href="{% url 'pollingSite:logout' %}"><button type="submit"><b>Log Out</b></button></a></div>
</row>