{% extends 'pollingSite/base.html' %}
{% block content %}
<label style="text-align:center"><font size="6"><b>Attendance Report</b></font></label>
<div class="row">&nbsp;</div>
<form method="post" style="border-color:white">
    {% csrf_token %}
    {{form.as_table}}
    <div class="row">
        <button type="submit" style="background-color: #990000">Generate Report</button>
    </div>

    
        {%if items%}
    <table style="width:100%">
    <tr>
        <th><label style="text-align:left; font-size:x-large">Student Name</label></th>
        <th><label style="text-align:left; font-size:x-large">Correct Answers</label></th>
        <th><label style="text-align:left; font-size:x-large">Attendance</label></th>
    </tr>
    {% for item in items %}

    <tr>
        <th>{{item.3.lastname}} {{item.3.name}}</th>
        <th>{{item.0|length}}/{{item.1|length}}&nbsp;&nbsp;{{item.4}}% </th>
        <th>{{item.1|length}}/{{item.2|length}}&nbsp;&nbsp;{{item.5}}%</th>
    </tr>
    {%endfor%}
    {%else%}
    <tr><th><b>There are not students to Display!</b></th></tr>

    {%endif%}

</table>
</form>
    {% endblock content %}
