{% load static %}
<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="{% static 'pollingSite/css/skeleton.css' %}">
    <link rel="stylesheet" href="{% static 'pollingSite/css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'pollingSite/css/WAWIA.css' %}">
    {% block css %}{% endblock css %}

    <meta charset="utf-8" />
    <title></title>
</head>
{% block body %}
<body>
    <div class="container" >

        <!-- columns should be the immediate child of a .row -->
        <div class="row">
            <div class="three columns"><a href="{% url 'pollingSite:index' %}"><button type="submit" >Home</button></a></div>
            
            <div class="three columns"><a href="{% url 'pollingSite:changePassword' %}"><button type="submit"style="background-color: #990000">Change Password</button></a></div>
            <div class="three columns"><a href="{% url 'pollingSite:logout' %}"><button type="submit">Log Out</button></a></div>
       </div>
       {% block content %}{% endblock content %}
    </div>
    {% block JavaScrpt %}{% endblock JavaScrpt %}
    <form method="post">
      <button type="submit">Test</button>
    </form>

</body>
{% endblock body %}

</html>
